<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CS361 Microservice Test</title>
</head>
<body>
    <h1>Forgot your password?</h1>
    <h3>Enter your username and unique ID:</h3>
    <form action="/forgot-password" method="post">
        <label>Username:</label>
        <input type="text" name="username"></input>
        <label>Unique ID:</label>
        <input type="text" name="unique_id"></input>
        <input type="submit">
    </form>
    <p>{{ password }}</p>
</body>
</html>